<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.pacoarce.splashscreen"
        version   = "1.0.0">
	<name>PG-SplashScreen</name>
	<description>
		SplashScreen
	</description>
	<author email="fj_arce@yahoo.com.mx" href="http://pacoarce.com">
		Francisco Javier Arce Anguiano
	</author>
	<gap:plataform name="android" />
	<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="false" />
	<preference name="android-installLocation" value="auto" />
	<preference name="SplashScreenDelay" value="10000" />

	<content src="index.html" />
	<access origin="*" />
	<icon src="icono.png" />
	<splash src="splash.png" />

	<plugin name="cordova-plugin-splashscreen" spec="~4.0.0" />
</widget>